/* Navbar.css */
nav {
    background-color: #3442db;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
